@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
    from {background-color: rgba(221, 19, 19, 0.726);}
    to {background-color: rgba(221, 19, 19, 0.034);}
  }
  
  .shake {
    animation: shake 1s;
  }